body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.heading {
  width: 100%;
  padding: 12px;
}

.main-heading {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
}

.chatbot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

.chatNow-btn {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: green;
  color: white;
  font-size: 18px;
  border: 2px solid green;
  box-shadow: 1px 1px solid grey;
}

.chatNow-btn:hover,
.form__send__btn:hover {
  transition: 0.3s;
  background: white;
  border: 2px solid green;
  color: green;
  cursor: pointer;
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #95959594;
  z-index: 1;
}

.modal {
  display: none;
  position: absolute;
  width: 80%;
  background: white;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  padding: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  z-index: 2;
}

.chat_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chat_form textarea {
  width: 100%;
  padding: 12px;
  background: #d3d3d3;
  border: none;
  resize: vertical;
  min-height: 100px;
}

.form__send__btn {
  padding: 12px;
  margin-top: 20px;
  width: 120px;
  background: green;
  border: 2px solid green;
  border-radius: 5px;
  color: white;
}

.modal__controls {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.modal__close {
  color: #df5b5b;
}

.modal__close:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #ff0000;
}
