<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
  </head>
  <body>
    <div class="heading">
      <h1 class="main-heading">
        Welcome to Biblical Material Identifier Apparatus
      </h1>
    </div>

    <div class="backdrop"></div>

    <div class="chatbot">
      <button class="chatNow-btn">Chat Now</button>
    </div>
  </body>
</html>
